@{
    ViewBag.Title = "TheMovieCollection";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>
<div class="d-flex justify-content-center">
    <img src="~/img/movies.jpg" width="400" />
</div>
<div>
    Photo by <a href="https://unsplash.com/seanbenesh?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" 
                target="_blank">Sean Benesh</a> on <a href="https://unsplash.com/photos/6Nbo9Pn0yJA" target="_blank">Unsplash</a>
</div>