@{
    ViewBag.Title = "My Podcasts";
}
<h1>@ViewBag.Title</h1>

<p>Click <a href=" https://baconsale.com/" target="_blank">here</a> to visit the Baconsale site, where we upload new podcasts weekly.</p>
